<div class="card" [class.answered]="isAnswered || localIsAnswered()">
    <app-prayer-card-header [priority]="priority" [isAnswered]="isAnswered" [localIsAnswered]="localIsAnswered()"
        [prayerCount]="prayerCount" [createdDate]="createdDate" [answeredDate]="answeredDate"
        [answeredSummary]="answeredSummary()" [answeredDateText]="answeredDateText()"
        [showAnswerForm]="showAnswerForm()" [isTopic]="!topicName" [onAnsweredClick]="onAnsweredClick.bind(this)">
    </app-prayer-card-header>
    <app-prayer-card-content [icon]="icon" [title]="title" [topicName]="topicName" [isAnswered]="isAnswered"
        [localIsAnswered]="localIsAnswered()" [answerDescription]="answerDescription"
        [localAnswerDescription]="localAnswerDescription()">
    </app-prayer-card-content>
    <app-answer-form [showAnswerForm]="showAnswerForm" [answerText]="answerText"
        [onAnswerSubmit]="onAnswerSubmit.bind(this)" [onAnswerCancel]="onAnswerCancel.bind(this)">
    </app-answer-form>
    @if (listName) {
        <div class="card-footer">
            {{ listName}}
        </div>
    }
</div>